<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wallofcoins.dash.wallet">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".BuyDashActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/buy_dash_with_cash"
            android:screenOrientation="behind">

            <intent-filter>
                <action android:name="com.mycompany.DO_SOMETHING" />
            </intent-filter>

        </activity>
    </application>

</manifest>